extends layout.pug
    
block content
    h1 Welcome #{user.id}!
    img(src=user.images[0].url, class='circular_image')

    table 
      each p in playlists
        tr 
          - var playlist_name = p.name
          - var playlist_url = p.uri // p.external_urls.spotify
          - var playlist_num_tracks = p.tracks.total
          - var playlist_id = p.id

          td: a(href='/playlist?id=' + playlist_id) #{playlist_name}