extends layout.pug
    
block content
    // LOGOUT BUTTON
    a(href='/', onclick='logout()') Logout

    // GREETINGS HEADER
    img(src=user.images[0].url, class='circular_image')
    br
    
    h1 Welcome #{user.id}!

    h2 Rediscover your music library...

    a(href='/library') Find me 10 forgotten songs from my entire Spotify library! ✨

    h2 Or choose one of your playlists to rediscover...

    table 
      each p in playlists
        tr 
          - var playlist_name = p.name
          - var playlist_url = p.uri
          - var playlist_num_tracks = p.tracks.total
          - var playlist_id = p.id

          td: a(href='/playlist?id=' + playlist_id) #{playlist_name}
          td #{playlist_num_tracks} songs

    // HANDLE LOGOUT CLEANUP
    script.
      function logout() {
        // Clear cookies
        document.cookie.split(";").forEach(function(c) {
            document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
        });
        // Clear local storage
        localStorage.clear();
        alert('Hey! We\'re logging you out! Click "Continue" to continue!');

        
      }