extends layout.pug
    
block content
    img(src=user.images[0].url, class='square_image')
    h1 Welcome #{user.id}!

    h2 Rediscover your music library...

    a(href='/library') Listen to saved songs you haven't heard in awhile!

    h2 Or choose a playlist to rediscover...

    table 
      each p in playlists
        tr 
          - var playlist_name = p.name
          - var playlist_url = p.uri
          - var playlist_num_tracks = p.tracks.total
          - var playlist_id = p.id

          td: a(href='/playlist?id=' + playlist_id) #{playlist_name}