extends layout.pug
    
block content
    img(src=user.images[0].url, class='circular_image')
    br
    
    h1 Welcome #{user.id}!

    h2 Rediscover your music library...

    a(href='/library') Find me 10 forgotten songs from my entire Spotify library! ✨

    h2 Or choose one of your playlists to rediscover...

    table 
      each p in playlists
        tr 
          - var playlist_name = p.name
          - var playlist_url = p.uri
          - var playlist_num_tracks = p.tracks.total
          - var playlist_id = p.id

          td: a(href='/playlist?id=' + playlist_id) #{playlist_name}
          td #{playlist_num_tracks} songs