footer
    style.
        .container {
            background-color: black;
            padding-left: 100px;
            padding-right: 100px;
        }

        .footer-text {
            font-size: 10px;
            font-weight: 100;
            color: gray;
        }

    .container
        p.footer-text Spotify (Re)Wrapped. A project by the students of Stanford University CS 377U: Understanding Users. Crafted in spring 2024.

        p.footer-text LEGAL DISCLAIMER: The creators of Spotify (Re)Wrapped hereby declare that our use of the term 'Wrapped' is intended solely for the purpose of whimsical entertainment and light-hearted musical exploration. Let it be known that we believe in respecting intellectual property rights and our playful adaptation of 'Wrapped' seeks to compliment, not infringe, on the linguistic creativity of Spotify’s popular feature. The term 'Wrapped' as used herein represents a legally distinct, yet musically reverent, endeavor!
