extends layout.pug

block content
    // STYLE
    style.
        body {
            background-color: black;
            text-align: center;
            color: white;
        }
        h1 {
            color: var(--SPOTIFY_MTN_MEADOW);
        }
        .spotify-button {
            background-color: var(--SPOTIFY_MTN_MEADOW);
            color: white;
            margin-top: 40px;
            font-size: 24px;
        }
        .big-emoji {
            font-size: 80px;
        }
        h1 span {
            font-style: italic;
        }

    // ACTUAL CONTENT
    h1(class = 'big-emoji') 🎧

    h1 Your music, (re)wrapped!

    h3 Use this tool to rediscover the songs in your Spotify library you haven't listened to in awhile!
    h3 Choose a playlist (or your entire library!) and this tool will sift through it to find your 10 most forgotten songs.
    a(href = '/authorize', class = 'spotify-button button') Connect to Spotify 

    p.smaller-text Must be a registered beta user in order to login.

    include footer.pug

