extends layout.pug

block content
    // STYLE
    style.
        body {
            background-color: black;
            text-align: center;
            color: white;
        }
        h1 {
            color: var(--SPOTIFY_MTN_MEADOW);
        }
        .spotify-button {
            background-color: var(--SPOTIFY_MTN_MEADOW);
            color: white;
        }
        h1 span {
            font-style: italic;
        }

    // ACTUAL CONTENT
    h1(class = 'big-emoji') 🎧

    h1 Your Spotify, 
        span.italic-text (Re)Wrapped!

    h3 Welcome to Spotify (Re)Wrapped, where the unsung heroes of your music collection get their moment to shine! Forget the top hits parade – here, we invert the music experience to celebrate the overlooked and the underplayed. Dive into your library’s hidden depths with custom playlists crafted from your lesser listened-to tracks. It’s time to rediscover your music!

    a(href = '/authorize', class = 'spotify-button button') Connect to Spotify 

    p.smaller-text Just a quick heads up! Must be a registered beta user to login. Also, due to the sheer madness of working with music magic, we may take a hot minute to load everything!

    include footer.pug

