extends layout.pug
    
block content
    h1 Start rediscovering your music! 🎶
    p Use this tool to find the songs in your Spotify library you haven't listened to in awhile!
    p Choose a playlist (or your entire library!) and this tool will sift through it to find your 10 most-forgotten songs.
    a(href='/authorize') Connect Spotify
