extends layout.pug
    
block content    
    a(href='http://localhost:3000') Back Home
    h1 Your Library REDISCOVERED...

    table 
      each t in lowest
        tr 
          - var artist_name = t.artists[0].name
          - var track_name = t.name
          - var track_preview = t.preview_url

          td #{track_name} - #{artist_name}
          td: a(href=track_preview) Preview