body {
  --SPOTIFY_MTN_MOSS: #1ED760;
  --SPOTIFY_MTN_MEADOW: #1db954;
  --SPOTIFY_MTN_MINT: #69ff87;
  --SPOTIFY_COD_GRAY: #191414;

  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  color: white;
  background-color: black;
}
ul.footer {
  list-style:none;
  display:inline;
}
ul.footer li {
  display:inline;
  margin-right: 1em;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
}
td {
  border: 0px solid #ddd;
  padding: 12px;
  padding-left: 10px;
}
.circular_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 20px;
}
a:hover {
  color: var(--SPOTIFY_MTN_MINT);
}
.button {
  background-color: var(--SPOTIFY_MTN_MEADOW);
  border-radius: 80px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 20px;
  display: inline-block;
}
div {
  background-color: var(--SPOTIFY_COD_GRAY);
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
}
h2 {
  font-size: 20px;
  font-weight: 300;
}
.playlist_image {
  object-fit: cover;
  border-radius: 5px;
}
.small-text {
  font-size: 15px;
  font-weight: 100;
  color: gray;
}
p.smaller-text {
  font-size: 12px;
  font-weight: 100;
  color: whitesmoke;
  font-style: italic;
}
.back-button {
  background-color: var(--SPOTIFY_COD_GRAY);
  color: var(--SPOTIFY_MTN_MEADOW);
}