body {
  --SPOTIFY_MTN_MOSS: #1ED760;
  --SPOTIFY_MTN_MEADOW: #1db954;
  --SPOTIFY_MTN_MINT: #9cffaf;
  --SPOTIFY_COD_GRAY: #191414;

  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  color: white;
  background-color: black;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
    font-size: 40px;
    text-align: left;
    flex-grow: 1;  
    overflow: hidden; 
    text-overflow: ellipsis;
}
.big-emoji {
    font-size: 80px;
}
ul.footer {
  list-style:none;
  display:inline;
}
ul.footer li {
  display:inline;
  margin-right: 1em;
}
table {
  /* font-family: Arial, Helvetica, sans-serif;*/
  border-collapse: collapse;
  width: auto;
}
td {
  border: 0px solid #ddd;
  padding: 12px;
  padding-left: 10px;
}
.circular_image {
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  width: auto;
  height: auto; 
  max-height: 100px; 
}
.track-title {
  color: white;
}
.track-detail {
  color: #c4c4c4;
  font-size: 13px;
  padding: 5px 0px 0px 0px;
  margin: 0px;
}
.column-header {
  color: #c4c4c4;
  font-size: 13px;
}
hr {
  color: white;
  size: 1px;
}
a:hover {
  color: var(--SPOTIFY_MTN_MINT);
}
.button {
  background-color: var(--SPOTIFY_MTN_MEADOW);
  border-radius: 80px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
div {
  background-color: var(--SPOTIFY_COD_GRAY);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}
div.track-title {
  padding: 0px;
  margin-top: 0px;
  display: grid;
}
.underlined {
  border: 1px #c4c4c4;
}
h2 {
    font-size: 22px;
    font-weight: 500;
    color: var(--SPOTIFY_MTN_MEADOW)
}
h3 {
  font-size: 18px;
  font-weight: 300;
}
.playlist_image {
  object-fit: cover;
  border-radius: 5px;
}
.small-text {
  font-size: 15px;
  font-weight: 100;
}
p.smaller-text {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}
.back-button {
  background-color: var(--SPOTIFY_COD_GRAY);
  color: var(--SPOTIFY_MTN_MEADOW);
}
.empty-library {
    font-style: italic;
}
.italic-text {
    font-style: italic;
}
img.album-large {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
img.album-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  object-fit: cover;
}
.footer-text {
    font-size: 10px;
    font-weight: 100;
    color: gray;
}
td img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

/* PORTRAIT MODE 📲 */
@media (orientation: portrait) {
    body {
        width: 90%;
        padding: 0.5em 1em;
    }
    h1 {
        font-size: 9em;
        text-align: center;
    }
    h2 {
        font-size: 6em;
    }
    h3 {
      font-size: 5em;
    }
    .big-emoji {
        font-size: 20em;
    }
    .button {
        padding: 0.5em 1em;
        font-size: 5em;
        margin-top: 50px;
    }
    .small-text, p.smaller-text {
        font-size: 4em;
    }
    .footer-text {
        font-size: 3em;
    }
    .circular_image {
        display: none; 
    }
    table {
        display: block;
    }
    td {
        border: none;
        font-size: 4em;
        border-bottom: 1px solid #eee;
        position: relative;
        text-align: right;
    }
    .track-detail {
        display: none;
    }
    .album-thumbnail {
        display: none;
    }
    .playlist_image {
        width: 40em;
        height: 40em;
        margin: 5em;
    }
    td audio {
        height: 40px;
        overflow: hidden;
    }
    .column-header {
        display: none;
    }
}